body {
  font-family: sans-serif;
  font-size: 90%;
  text-align: center;
  background: whitesmoke;
}

input {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 1px;
  font-size: 200%;
  padding: 7px;
  margin: 10px 0px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
button {
  padding: 7px 7px;
  border: none;
  background: darkgray;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
  margin: 10px 10px;
  opacity: 0.7;
}

.selected {
  opacity: 1;
  background: salmon;
}

button:hover {
  opacity: 1;
}

.bubble {
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  margin: 12px;
  box-shadow: 0px 0px 2px;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 30px; /* Specified height */
  background: salmon; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 7px;
  border: 1px solid grey;
  padding: 0px;
  margin: 0px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 80px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px;
  border: 1px solid black;
}

.slider::-moz-range-thumb {
  width: 80px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px;
  border: 1px solid black;
}